.header {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-bottom: 1em;
  background-color: blanchedalmond;
  height: 50px;
}

button {
  position: absolute;
  right: 2em;
  top: 15px;
}
